body {
    display: grid;
    grid-template-rows: [row1-start] 20% [row2-start] 60% [row3-start] 20% [row3-end];
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-row: row1-start / row2-start;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    background-color: rgb(0, 120, 160);    
    overflow: hidden;
}

ul.nav_menu {
    justify-self: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_menu li {
    float: left;
    height: 100%;
    position: relative;
    
}

.nav_menu li a {
    display: block;
    color: white;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
}

.nav_menu li p {
    display: inline;
}

.nav_menu li a:hover {
    background-color: rgb(1, 69, 131);
    height: 100%;
}

.nav_menu li img {
    vertical-align: middle;
    margin-right:5px;
}


/* +----------------+
   | Drop down list |
   +----------------+
*/

ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}



/*------------------*/

main {
    grid-row: row2-start / row3-start;
}

footer {
    grid-row: row3-start;
    justify-self: center;
    text-align: center;
    width: 50%;
}
