.container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 3fr [col2-end];
    grid-template-rows: auto;
    margin: 20px;
}

.photo-space {
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: white;
}

.info-space {
    justify-self: start;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tab-selector {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f1f1f1;
}

a.tab-item {
    text-decoration:none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 22px;
}

a.tab-item:hover {
    background-color: #ddd;
}

a.tab-item.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
