.container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 3fr [col2-end];
    grid-template-rows: auto;
    margin: 20px;
}

.photo-space {
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: white;
}

.info-space {
    justify-self: start;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tab-selector {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f1f1f1;
}

a.tab-item {
    text-decoration:none;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 22px;
    transition: background-color 0.3s ease-out;
}

a.tab-item:hover {
    background-color: #ddd;
}

a.tab-item.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* The Personal info display tab */

div.info-container .edit, div.info-container .save {
    display: none;
    justify-self: end;
    margin: 10px 10px 0px 0px;
    font-size: 12px;
    color:blue;
    cursor: pointer;
}

.info-container {
    margin: 10px 0px 15px 0px;
    display: grid;
    height: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

input {
    display: none;
    padding: 12px 20px;
    width: 300px;
    border: 1px solid rgb(216, 222, 226);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}
/*-----------------------------*/
