body {
    display: grid;
    grid-template-rows: [row1-start] 20% [row2-start] 60% [row3-start] 20% [row3-end];
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-row: row1-start / row2-start;
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 3fr;
    grid-template-rows: auto;
    background-color: rgb(0, 120, 160);
    overflow: hidden;
    position: relative;
}

ul.nav_menu {
    justify-self: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.nav_menu li {
    float: left;
}

.nav_menu li a {
    display: block;
    color: white;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
}

.nav_menu li p {
    display: inline;
}

.nav_menu li a:hover {
    background-color: rgb(1, 69, 131);
}

.nav_menu li img {
    vertical-align: middle;
    margin-right:5px;
}

main {
    grid-row: row2-start / row3-start;
}

footer {
    grid-row: row3-start;
    justify-self: center;
    text-align: center;
    width: 50%;
}
