div.container {
    display: grid;
    max-width: 85%;
    margin: auto;
    grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col3-end];
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    height: 450px;
}

a {
    text-decoration: none; /* Remove the hyperlink underline */
    display: block;
}

.box {
    background-color: rgba(0, 120, 160, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
}

div.main-opts {
    grid-column: col1-start / col3-start;
    display: grid;
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row2-end];
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start]; 
    grid-gap: 10px 10px;
}

.a {
    grid-column: col1-start / col2-start;
    grid-row: row1-start / row2-start;
}

.b {
    grid-column: col2-start / col3-start;
    grid-row: row1-start / row2-start;
}

.c {
    grid-column: col1-start / col2-start;
    grid-row: row2-start;
}

.d {
    grid-column: col2-start / col3-start;
    grid-row: row2-start;
}

div.secondary-opts {
    grid-column: col3-start;
    display: grid;
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 1fr [row3-end];
    grid-template-columns: auto;
    grid-gap: 10px 10px;
}

.e {
    grid-row: row1-start / row2-start;
}

.f {
    grid-row: row2-start / row3-start;
}

.g {
    grid-row: row3-start;
}
